extends layout
extends nav

block content
	div#container
		div#containerinside
			h1.pagehead Account
			if user.admin == 1
				a(href="/addproduct") Add products
				a(href="/order") Orders

				extends orders

		