extends layout
extends nav

block content
    form(action="/upload", method="post", enctype="multipart/form-data")
        label(for='title') Title
        input(type="text", id='title', name="title", placeholder="Title", required)

        label(for='description') Description
        textarea(rows="4", cols="50", id='description', name="description", placeholder="Description", required)

        label(for='price') Price
        input(type="number", id='price', name="price", placeholder="Price", required)

        select(name='type', id="type")
            option(value='T-shirt') T-shirt
            option(value='Sweater') Sweater
            option(value='Headwear') Headwear
            option(value='Accesories') Accesories
            
        div#inputs
            input(type='checkbox', name='Size', value="S")
            | Small
            input(type='checkbox', name='Size', value="M")
            | Medium
            input(type='checkbox', name='Size', value="L")
            | Large
        
        label(for='image') Image
        input(type="file", id='image', name="image")

        button(type="submit", value="Upload") Add product


    script.
        $(document).ready(function(){
             $('select').change(function(){

                var type = $("select option:selected").val();
                console.log(type);
                if(type == "T-shirt" || type == "Sweater"){
                    console.log(type);
                  $('#inputs').show();
                }else{
                    $('#inputs').hide();
                }
                
                
            });

            });