extends layout
extends nav

block footer

	#footercontainer
		footer

			.block
				p.top Office:
				p Veldkant 35C, 2550 Kontich
			.block
				p.top Email:
				p INFO@DISTRICT01.BE
			.block
				p.top Tel:
				p +32 3 612 20 20
			.block
				p.top Fax:
				p +32 3 612 20 21
			.block
				p.top VAT:
				p BTW BE 0479.639.957

