extends layout
extends nav

block footer

	#footercontainer
		footer

			.block
				p.top Office:
				p Street 99C, 9876 City
			.block
				p.top Email:
				p INFO@WEBSHOP.BE
			.block
				p.top Tel:
				p +32 0 123 45 68
			.block
				p.top Fax:
				p +32 0 123 45 67
			.block
				p.top VAT:
				p BTW BE 000.000.000

