extends layout
extends nav

block content
	- each product in products
		div(class="product" id=product._id)
			a(href="product/"+product._id)
				img(class="picture" src="uploads/"+product.Picture)  
				h3= product.Name
				p= product.Price 
					span €