extends layout

block nav 
	#navcontainer
		nav
			#logo
				
				a(href="/") 
					img(src="/images/district01.png") 
					| Webshop

			#nav
				ul
					li.navitem.account
						a(href="/account") Account
					li.navitem.cart
						a(href="/cart") Cart
					if user
						li.navitem.logout
							a(href="/signout") Sign out