body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  background-color: #e6e6e6;
}

#clearfix {
	clear: both;
}

/*	===== NAV =====   */

#navcontainer{
	background-color: #000;
	height: 85px;
	padding: 5px
}
nav{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


#logo{
	float: left;
	font-size: 33px;
}
#nav{
	float:right;
}
#nav ul{
	list-style:none;
	margin-top: 30px;
	margin-right: 10px;
}

#nav li{
	float: left;
}

.account{
	margin:10px;
}

.account a:hover{
	font-weight: bold;
}

.logout{
	margin:24px 0 0 40px;
	font-size: 12px;
}

.logout a:hover{
	text-decoration: underline;
}


.cart a:link{
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 10px 0px;
	width: 90px;
	background-image: url(../images/cart.png);
	background-size: 20px;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	text-indent: 40px;
	display: block;
}

.cart a:hover{
	font-weight: bold;
	border: 2px solid #fff;
	padding: 9px 0px;
	width: 89px;
}




/*   ===== CONTAINERS =====   */



#container{
	width: 100%;
}

#containerinside{
	width: 935px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
	padding: 25px;
}





/*   ===== INDEX =====   */


#productsblock{
	width: 80%;
	float:left;
}

#filterblock{
	width: 20%;
	float:right;
}

.product{
	width: 220px;
	height: 290px;
	border: 1px solid #000;
	margin-right:20px; 
	margin-bottom:25px; 
	float:left;
}

.product a:link,
.product a:visited,
.product a:hover,
.product a:active{
	color: #000;
	text-decoration: none;
}

.picture{
	width: 220px;
	height: 220px;
	border-bottom: 1px solid #000;
}

.product p.title, .product p{
	text-align: center;
	line-height: 14px;
}

p.title{
	font-weight: bold;
}





/*   ===== PRODUCTDETAIL =====   */


.back:link,
.back:visited,
.back:hover,
.back:active{
	color: #000;
	text-decoration: none;
}

.back:hover{
	font-weight: bold;
}

#left, #right{
	float: left;
	width: 50%; 
}
#left img{
	width: 100%;
}
#order a:link,
#order a:visited,
#order a:hover,
#order a:active{
	color: #c1272d;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
#order a:hover{
	text-decoration: underline;
}

#right{
	margin-bottom: 100px;
}

label{
	font-size: 15px;
}

#size{
	width: 50%;
	display: block;
	padding: 5px;
	margin-bottom: 20px;
}

#amount{
	margin: 0 10px;
	padding: 5px;
}

button{
	background-color: #4d4d4d;
	padding: 0 15px;
	height: 35px;
	border: none;
	color: #fff;

}

button:hover{
	background-color: #333;
}



/*   ===== FORMS =====   */

.pagehead{
	width: 890px;
	border-bottom: 1px solid #000;
	font-size: 48px;
	margin-top: 0;
	text-transform: uppercase;
	padding: 0 15px;
}
.form{
	width: 395px;
	margin-left: auto;
	margin-right: auto;
}
.form input[type="text"], .form input[type="number"], .form input[type="email"], .form input[type="password"], .form textarea, .form select{
	display: block;
	margin-bottom: 25px;
	width: 395px;
	border: 1px solid #4d4d4d;
	background-color: none;
	padding: 5px;
}

#signin, #signup{
	width: 135px;
	margin-right: 20px;
}

.form a:link,
.form a:visited,
.form a:hover,
.form a:active{
	color: #c1272d;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.form a:hover{
	text-decoration: underline;
}


.form-right{
	margin-left: 0;
	margin-right: 0;
	float: right;
	width: 100%;
}




/*   ===== ADD PRODUCTS =====   */

.form input[type="checkbox"]{
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 25px;
}

.form input[type="file"]{
	margin-bottom: 25px;
	width: 395px;
	padding: 5px;
	line-height: 14px;
}







/*   ===== TABELS =====   */

.table {
	width:920px;
	border:1px solid #000000;
	border-radius: 2px;
	
}
.info {
	padding: 15px;
	width: 890px;
	margin-bottom: 10px;
}
table{
    border-collapse: separate;
}

.table td{
	padding: 5px;
	border-bottom: 1px solid #000;
	text-align:center;
}
.table td:first-child{
	text-align: left;
}
.table tr:last-child td{
	border-bottom: 0px solid #000;
}

.table tr:nth-child(odd){
	background-color:#ededed;
}

.table tr:nth-child(even){ 
	background-color:#ffffff; 
}

.table tr:first-child th{
	background-color:#000000;
	border:1px solid #000000;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
}

.avatar{
	height: 80px;
	display: block;
	float: left;
}

.bigger{
	font-size: 16px;
	font-weight: bold;
}

#continue{
	float: right;
	margin-right: 50px;

}

.statusbtn{
	background-image: url(../images/sort.png);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 160px center;
}

.statusbtn:hover{
	cursor: pointer;
}

table a:link,
table a:visited,
table a:hover,
table a:active{
	color: #c1272d;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

table a:hover{
	text-decoration: underline;
}


.cart:link,
.cart:visited,
.cart:hover,
.cart:active{
	color: #c1272d;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.cart:hover{
	text-decoration: underline;
}










.btn{
	display: block;
	background-color: #c1272d;
	width: 200px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}